<div>
    <h1 class="card z-depth-3 center-align gree">Read the Latest from Attack Magazine</h1>
    <div class="row">
        <div class="col s3"></div>
        <h5 class="card z-depth-3 center-align col s6 yello">Click 'Scrape' to get the latest articles</h5>
    </div>
</div>
<div class="row">
    {{!-- {{log article}} --}}
    {{#each article}}
    <div class="col s12 m4 l6">
        <div class="card purp">
            <div class="card-image">
                <img src="{{this.img}}" alt="coolness">
            </div>
            <span class="card-title">{{this.title}}</span>
            <div class="card-content">
                <p>{{this.summary}}</p>
            </div>
            <div class="card-action yello">
                <a href="{{this.link}}" target="_blank" class="waves-effect waves-light btn" id="btnSignUp">Read
                    Article</a>
                <form action="/comment/{{this.id}}" method="POST">
                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">perm_identity</i>
                            <input type="text" id="icon_prefix" placeholder="Name" name="name" class="validate active">
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">comment</i>
                            <input type="text" id="icon_telephone" placeholder="Comment" name="comment"
                                class="validate active">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <center><input type="submit" class="btn add-comment-button topnav" value="Submit"></center>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col s8 gree">
                        <h5>Comments:</h5>
                        {{#if this.comment}}
                        {{#each this.comment}}
                        <div class="card yellow">
                            <p id="nameComment">{{name}}</p>
                            <p>{{body}}</p>
                        </div>
                        {{/each}}
                        {{else}}
                        <p>No Comments Yet</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
</div>